body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:1231px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5 {
  position:fixed;
  left:50%;
  margin-left:-524.5px;
  top:50%;
  margin-top:-280px;
}
#u5_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:1049px;
  height:560px;
  background-image:none;
}
#u5_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1049px;
  height:560px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:80px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u7_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  word-wrap:break-word;
}
#u8_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:80px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:0px;
  width:832px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u8_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:828px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:80px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:217px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u9_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  word-wrap:break-word;
}
#u10_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:80px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:80px;
  width:832px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u10_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:828px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:80px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:160px;
  width:217px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u11_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  word-wrap:break-word;
}
#u12_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:80px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:160px;
  width:832px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u12_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:828px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:80px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:217px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u13_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  word-wrap:break-word;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:80px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:240px;
  width:832px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u14_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:80px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:320px;
  width:217px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u15_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  word-wrap:break-word;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:80px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:320px;
  width:832px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:80px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:400px;
  width:217px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u17_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  word-wrap:break-word;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:80px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:400px;
  width:832px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u18_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:828px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:80px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:480px;
  width:217px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u19_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:213px;
  word-wrap:break-word;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:832px;
  height:80px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:480px;
  width:832px;
  height:80px;
  font-size:28px;
  color:#FFFFFF;
}
#u20_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:828px;
  word-wrap:break-word;
}
#u21 {
  position:fixed;
  right:13px;
  top:7px;
}
#u21_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:339px;
  height:60px;
  background-image:none;
}
#u21_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:60px;
  font-size:20px;
}
#u23_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:9px;
  width:277px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u24_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:277px;
  word-wrap:break-word;
}
#u25 {
  position:fixed;
  left:50%;
  margin-left:-159.5px;
  top:7px;
}
#u25_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:339px;
  height:60px;
  background-image:none;
}
#u25_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u27_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:60px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(51, 51, 51, 1);
  border-radius:6px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:60px;
  font-size:20px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:9px;
  width:277px;
  height:45px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:22px;
  color:#FFFFFF;
  text-align:center;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:10px;
  width:277px;
  word-wrap:break-word;
}
